.header-section {
    width: 100%;
    // text-align: right;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.111);
    z-index: 10;
    padding: 0 20px;
    gap: 10px;
    border-radius: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.todo-hedear-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-shadow: 1.5px 0 rgba(98, 0, 255, 0.3), -1.5px 0 rgba(255, 0, 0, 0.3),
        0 0 20px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

.email-logout {
    white-space: nowrap;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.15s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
    &:active {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.email-image {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.email-full-name {
    text-align: right;
    white-space: nowrap;
}

.header-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

// Dropdown from W3

.dropbtn,
.gh-link {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
}

.dropbtn {
    background: url("../imgs/arrow-down.png") no-repeat, white;
    background-position: right 10px center;
    background-size: 10px;
    padding-right: 30px;
    transition: background-color 0.15s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 169px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: showDropDowns 0.25s ease-out;
}

/* Links inside the dropdown */
.dropdown-content div,
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.15s;
}

.dropdown-content div:hover,
.dropdown-content a:hover,
.gh-link:hover {
    background-color: #f1f1f1;
}

.dropdown-content div:active,
.dropdown-content a:active,
.gh-link:active {
    background-color: #dcdcdc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

.session-mode-inputs {
    margin-right: 5px;
    cursor: pointer;
}

@keyframes showDropDowns {
    0% {
        opacity: 0.3;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
