h1 {
    font-weight: 600;
    margin: 10px 0;
    font-size: $font-size-h1;
}

.session-name{
    font-size: 12px;
    font-weight: 100;
    position: relative;
    left: -5px;
    top: 2px;
}

br {
    display: block;
    height: 5px;
    content: "";
}

#main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    transform: scale(1.2) translate(0, 35px);
}

#main-div {
    background: $main-background;
    width: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    padding: 19.5px;
    padding-bottom: 15px;
    position: relative;
}

#server-btns {
    // border: 1px solid red;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
    width: 110px;
    height: 28px;
    background: url("../imgs/white-btn.svg") center/cover no-repeat;
    z-index: 5;

    #reletive-div {
        position: relative;
        width: 100%;
        height: 100%;

        div {
            // width: 40px;
            border-radius: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            // border: 1px solid black;
            z-index: 4;
            transition: opacity 0.15s;
        }

        #upload-btn {
            background: url("../imgs/gray-btn-left.png") center/cover no-repeat;
        }
        #download-btn {
            background: url("../imgs/gray-btn-right.png") center/cover no-repeat;
        }

        span {
            position: absolute;
            z-index: 5;
            // border: 1px solid rgb(51, 0, 255);
            width: 40%;
            border-radius: 0;
            height: 17px;
            top: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            // cursor: pointer;
        }

        #upload-text {
            background: url("../imgs/upload.svg") center/cover no-repeat;
            background-size: 17px;
            left: 10%;
        }

        #download-text {
            background: url("../imgs/download.svg") center/cover no-repeat;
            background-size: 17px;
            right: 10%;
        }
    }
}

#loading-page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    background-color: white;
    letter-spacing: 1px;
    transition: opacity 0.3s;
    text-align: center;
}

#todo-input {
    padding: 5px 12px;
    margin: 10px 0 5px;
    font-size: $font-size-input;
    color: $input-text-color;
    height: 39px;
    width: 275px;
    border: 2px solid rgb(114, 114, 114);
    transition: background 0.1s;

    &::selection {
        background: $dark-purple;
        color: white;
    }

    &:focus {
        color: $input-text-color-active;
        cursor: auto;
    }
}

#add-btn {
    width: 41px;
    height: 38px;
    display: inline-flex;
    color: white;
    background-color: $dark-purple;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: $font-size-add-btn;
    padding-bottom: 5px;
    position: relative;
    top: 8px;
    cursor: pointer;
    transition: background 0.1s;

    &:hover {
        background: $light-purple;
    }

    &:active {
        background: $dark-purple;
    }
}

.change-add-btn {
    font-size: $font-size-change-add-btn !important;
    padding: 4px;
}
