* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 16px;
  cursor: default;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgba(166, 166, 166, 0.674);
  border-radius: 10px;
  outline: 3px solid white;
  outline-offset: -2.5px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(137, 137, 137, 0.674);
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgb(48, 72, 255), rgb(0, 238, 255));
  overflow: hidden;
}

.header-section {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.111);
  z-index: 10;
  padding: 0 20px;
  gap: 10px;
  border-radius: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.todo-hedear-text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-shadow: 1.5px 0 rgba(98, 0, 255, 0.3), -1.5px 0 rgba(255, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
}

.email-logout {
  white-space: nowrap;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.15s;
}
.email-logout:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.email-logout:active {
  background-color: rgba(0, 0, 0, 0.25);
}

.email-image {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.email-full-name {
  text-align: right;
}

.dropbtn,
.gh-link {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}

.dropbtn {
  background: url("../imgs/arrow-down.png") no-repeat, white;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 169px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-content a:hover,
.gh-link:hover {
  background-color: #f1f1f1;
}

.dropdown-content a:active,
.gh-link:active {
  background-color: #dcdcdc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
}

#filter-nav {
  position: relative;
  transform: translate(-190px, -22px);
  z-index: 3;
}

#filter-nav-background, #filter-nav-text {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  width: 356px;
}
#filter-nav-background svg, #filter-nav-text svg {
  width: 170%;
  height: 32px;
  opacity: 1;
}
#filter-nav-background div:first-child, #filter-nav-text div:first-child {
  z-index: 1;
}

#filter-nav-text {
  position: absolute;
  top: 6px;
  gap: 14px;
  padding-left: 32.8px;
}
#filter-nav-text p {
  z-index: 2;
  width: 130%;
  padding-bottom: 8px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#filter-nav-text p:nth-child(4), #filter-nav-text p:nth-child(5) {
  cursor: default;
}

h1 {
  font-weight: 600;
  margin: 10px 0;
  font-size: 33px;
}

.session-name {
  font-size: 12px;
  font-weight: 100;
  position: relative;
  left: -5px;
  top: 2px;
}

br {
  display: block;
  height: 5px;
  content: "";
}

#main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  transform: scale(1.2) translate(0, 35px);
}

#main-div {
  background: white;
  width: 360px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  padding: 19.5px;
  padding-bottom: 15px;
  position: relative;
}

#server-btns {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 2;
  width: 110px;
  height: 28px;
  background: url("../imgs/white-btn.svg") center/cover no-repeat;
  z-index: 5;
}
#server-btns #reletive-div {
  position: relative;
  width: 100%;
  height: 100%;
}
#server-btns #reletive-div div {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  transition: opacity 0.15s;
}
#server-btns #reletive-div #upload-btn {
  background: url("../imgs/gray-btn-left.png") center/cover no-repeat;
}
#server-btns #reletive-div #download-btn {
  background: url("../imgs/gray-btn-right.png") center/cover no-repeat;
}
#server-btns #reletive-div span {
  position: absolute;
  z-index: 5;
  width: 40%;
  border-radius: 0;
  height: 17px;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#server-btns #reletive-div #upload-text {
  background: url("../imgs/upload.svg") center/cover no-repeat;
  background-size: 17px;
  left: 10%;
}
#server-btns #reletive-div #download-text {
  background: url("../imgs/download.svg") center/cover no-repeat;
  background-size: 17px;
  right: 10%;
}

#loading-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  background-color: white;
  letter-spacing: 1px;
  transition: opacity 0.3s;
  text-align: center;
}

#todo-input {
  padding: 5px 12px;
  margin: 10px 0 5px;
  font-size: 17px;
  color: rgb(103, 103, 103);
  height: 39px;
  width: 275px;
  border: 2px solid rgb(114, 114, 114);
  transition: background 0.1s;
}
#todo-input::-moz-selection {
  background: rgba(127, 48, 255, 0.886);
  color: white;
}
#todo-input::selection {
  background: rgba(127, 48, 255, 0.886);
  color: white;
}
#todo-input:focus {
  color: black;
  cursor: auto;
}

#add-btn {
  width: 41px;
  height: 38px;
  display: inline-flex;
  color: white;
  background-color: rgba(127, 48, 255, 0.886);
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 40px;
  padding-bottom: 5px;
  position: relative;
  top: 8px;
  cursor: pointer;
  transition: background 0.1s;
}
#add-btn:hover {
  background: rgba(141, 70, 255, 0.886);
}
#add-btn:active {
  background: rgba(127, 48, 255, 0.886);
}

.change-add-btn {
  font-size: 34px !important;
  padding: 4px;
}

#save-list {
  max-height: 260px;
  overflow-y: scroll;
  width: 330px;
}
#save-list span {
  position: relative;
  padding-left: 12.11px;
  margin-top: 5px;
  font-size: 17px;
  height: 37.8px;
  display: flex;
  align-items: center;
  background: rgb(237, 237, 237);
  border-radius: 6px;
  justify-content: space-between;
  width: 315px;
  transition: opacity 0.5s, background 0.1s, transform 0.4s;
}
#save-list span:last-child {
  margin-bottom: 5px;
}
#save-list span:hover {
  background: rgb(221, 221, 221);
}
#save-list span:hover div[id*=edit-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=edit-number]:hover {
  background: rgb(139, 126, 255);
}
#save-list span:hover div[id*=edit-number]:active {
  background: rgb(109, 109, 255);
}
#save-list span:hover div[id*=complete-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=complete-number]:hover {
  background: rgb(142, 253, 199);
}
#save-list span:hover div[id*=complete-number]:active {
  background: rgb(109, 255, 177);
}
#save-list span:hover div[id*=delete-number] {
  opacity: 0.95;
}
#save-list span:hover div[id*=delete-number]:hover {
  background: rgb(255, 137, 137);
}
#save-list span:hover div[id*=delete-number]:active {
  background: rgb(255, 109, 109);
}
#save-list span div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}

div[id*=edit-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  width: 41px;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  right: 81.3px;
  background: rgb(109, 109, 255);
}

div[id*=complete-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  width: 41px;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  right: 40.63px;
  background: rgb(109, 255, 177);
}

div[id*=delete-number] {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
  width: 41px;
  font-family: cursive;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  transition: opacity 0.25s 0.05s, background 0.2s !important;
  border-radius: 0 6px 6px 0;
  right: 0;
  background: rgb(255, 109, 109);
}

.svg {
  width: 20px;
  height: 24px;
  cursor: pointer;
}

#last-line {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#clear-btn {
  background: rgba(127, 48, 255, 0.886);
  color: white;
  padding: 7px 8px;
  position: relative;
  top: -8px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.1s;
}
#clear-btn:hover {
  background: rgba(141, 70, 255, 0.886);
}
#clear-btn:active {
  background: rgba(127, 48, 255, 0.886);
}

.complete-todo {
  color: gray;
  text-decoration: line-through;
}/*# sourceMappingURL=style.css.map */